@import url("../base/reset.css");
@import url("../base/typography.css");

@import url("../components/site-header.css");
@import url("../components/site-main.css");

@import url("../elements/common/search-bar.css");
@import url("../elements/products/in-stock.css");

.site-main > h3 {
    margin: 0 auto;
}

.search-bar {
    position: -webkit-sticky;
	position: sticky;
    top: 0.5em;
}