@media screen and (max-width: 800px) {
    html {
        font-size: 14px;
    }

    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }

    .container p {
        display: block;
    }

    .container .box {
        transform: scale(0.65);
    }

    .container form {
        flex-direction: column;
        gap: 1em;
        margin: 0;
    }

    .container form button {
        width: fit-content;
    }
}